In [1]:
import psycopg2 
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Float, DateTime, text
import pandas as pd

In [10]:
inspections = pd.read_pickle('/home/michael/chicagohealthinspections/data/inspectdata.pkl')
locations = pd.read_pickle('/home/michael/chicagohealthinspections/data/linkloc.pkl')
businesses = pd.read_pickle('/home/michael/chicagohealthinspections/data/businesses.pkl')
category = pd.read_pickle('/home/michael/chicagohealthinspections/data/categories.pkl')
violations = pd.read_pickle('/home/michael/chicagohealthinspections/data/violations.pkl')

In [3]:
cnx = create_engine('postgresql://ubuntu:#####@18.219.68.93:5432')

In [5]:
metadata = MetaData(cnx)

In [5]:
inspections.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98885 entries, 37 to 110333
Data columns (total 9 columns):
Inspection ID      98885 non-null int64
License #          98875 non-null float64
Facility Type      98585 non-null object
Risk               98869 non-null object
Inspection Date    98885 non-null datetime64[ns]
Inspection Type    98884 non-null object
Results            98885 non-null object
LocId              98885 non-null int64
inspcount          98885 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 7.5+ MB

In [6]:
tbl1 = Table('inspections',metadata,
            Column('InspectionId',Integer, primary_key=True),
            Column('License',Float),
            Column('FacilityType',String),
            Column('Risk',String),
            Column('Inspection Date',DateTime),
            Column('Inspection Type',String),
            Column('Results',String),
            Column('LocId',Integer),
            Column('inspcount',Integer))
tbl1.create()

In [7]:
pd.read_sql_query('''SELECT * FROM inspections LIMIT 5''', cnx)

Empty DataFrame
Columns: [InspectionId, License, FacilityType, Risk, Inspection Date, Inspection Type, Results, LocId, inspcount]
Index: []

In [8]:
locations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15714 entries, 0 to 15713
Data columns (total 7 columns):
DBA Name     15714 non-null object
Address      15714 non-null object
Latitude     15714 non-null float64
Longitude    15714 non-null float64
LocId        15714 non-null int64
id           15714 non-null object
PRI_NEIGH    15714 non-null object
dtypes: float64(2), int64(1), object(4)
memory usage: 982.1+ KB

In [9]:
tbl2 = Table('locations',metadata,
            Column('DBAName',String),
            Column('Address',String),
            Column('Latitude',Float),
            Column('Longitude',Float),
            Column('LocId',Integer, primary_key=True),
            Column('id',String),
            Column('Neighborhood',String))
tbl2.create()

In [10]:
businesses.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13233 entries, 0 to 0
Data columns (total 6 columns):
id              13232 non-null object
name            13232 non-null object
price           10812 non-null object
rating          13232 non-null float64
review_count    13232 non-null float64
BusId           13233 non-null int64
dtypes: float64(2), int64(1), object(3)
memory usage: 723.7+ KB

In [6]:
tbl3 = Table('businesses',metadata,
            Column('id',String),
            Column('name',String),
            Column('price',String),
            Column('rating',Float),
            Column('review_count',Float),
            Column('BusId',Integer,primary_key=True))
tbl3.create()

In [12]:
category.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22489 entries, 0 to 22488
Data columns (total 4 columns):
id       22489 non-null object
alias    22489 non-null object
title    22489 non-null object
catid    22489 non-null int64
dtypes: int64(1), object(3)
memory usage: 702.9+ KB

In [13]:
tbl4 = Table('buscategory',metadata,
            Column('id',String),
            Column('alias',String),
            Column('title',String),
            Column('catid',Integer,primary_key=True))
tbl4.create()

In [14]:
violations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 605858 entries, 0 to 10
Data columns (total 5 columns):
Inspection ID    605858 non-null int64
vcode            605858 non-null object
codedesc         605858 non-null object
comment          605858 non-null object
vioid            605858 non-null int64
dtypes: int64(2), object(3)
memory usage: 27.7+ MB

In [15]:
tbl5 = Table('violations',metadata,
            Column('Inspection ID',String),
            Column('vcode',Integer),
            Column('codedesc',String),
            Column('comment',String),
            Column('vioid',Integer,primary_key=True))
tbl5.create()

In [12]:
inspections.to_csv('/home/michael/chicagohealthinspections/data/csv_for_SQL/inspections.csv',sep="|",header=False,index=False)
locations.to_csv('/home/michael/chicagohealthinspections/data/csv_for_SQL/locations.csv',sep="|",header=False,index=False)
businesses.to_csv('/home/michael/chicagohealthinspections/data/csv_for_SQL/businesses.csv',sep="|",header=False,index=False)
category.to_csv('/home/michael/chicagohealthinspections/data/csv_for_SQL/category.csv',sep="|",header=False,index=False)
violations.to_csv('/home/michael/chicagohealthinspections/data/csv_for_SQL/violations.csv',sep="|",header=True,index=False)